<!doctype html>
<html>
<head>
    <title>Node Authentication</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <!-- Important Owl stylesheet -->
    <link rel="stylesheet" href="../owl.carousel.min.css">
    <!-- Default Theme -->
    <link rel="stylesheet" href="../owl.theme.default.min.css">
    
    <!--  jQuery 1.7+  -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <!-- Include js plugin -->
    <script src="../owl.carousel.min.js"></script>

    <style>
        body {
            font-family: 'Segoe UI';
            background-color: #d8d8d8;
        }

        .item {
            background-size: cover;
            margin: 2em;
            height: 250px;
            color: white;
            z-index: 15;
            min-width: 200px;
            transition: transform 0.4s;
            box-shadow: 0px 0px 5px gray;
        }

        .tile_text {
            position: absolute;
            margin-left: 2%;
            text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
        }

        .item:hover {    
            cursor: pointer;        
            transform: scale(1.1);
            box-shadow: 0px 0px 20px gray;
            
        }

        #open_review_button {
        cursor: pointer;
        width: 60px;
        -webkit-filter: drop-shadow(5px 5px 5px #222);
        filter: drop-shadow(5px 5px 5px #222);
        position: fixed;
        right: 2em;
        bottom: 3em;
        z-index: 500;
        transition: transform 0.3s;
        }

        #open_review_button:hover {
            transform: scale(1.15);
        }

        .review {
            display: none;
            width: 300px;
            position: fixed;
            right: 2em;
            bottom: 3em;
            box-shadow: 0px 0px 25px gray;
            border-radius: 15px;
            padding: 1em;
            z-index: 400;
            background-color: rgba(255, 255, 255, 0.9);
        }

        .rating {
            position: relative;
            margin-right: 55px;
            margin-bottom: 25px;
        }

        /* :not(:checked) is a filter, so that browsers that don’t support :checked don’t 
        follow these rules. Every browser that supports :checked also supports :not(), so
        it doesn’t make the test unnecessarily selective */
        .rating:not(:checked) > input {
            position:absolute;
            top:-9999px;
        }

        .rating:not(:checked) > label {
            float:right;
            width:1em;
            padding:0 .1em;
            overflow:hidden;
            white-space:nowrap;
            cursor:pointer;
            font-size:200%;
            line-height:1.2;
            color:#959595;
            
        }

        .rating:not(:checked) > label:before {
            content: '★ ';
        }

        .rating > input:checked ~ label {
            color: #f70;
            
        }

        .rating:not(:checked) > label:hover,
        .rating:not(:checked) > label:hover ~ label {
            color: gold;
            
        }

        .rating > input:checked + label:hover,
        .rating > input:checked + label:hover ~ label,
        .rating > input:checked ~ label:hover,
        .rating > input:checked ~ label:hover ~ label,
        .rating > label:hover ~ input:checked ~ label {
            color: #ea0;
            
        }

        .rating > label:active {
            position:relative;
            top:2px;
            left:2px;
        }

        /* navigation bar */
        .navigation-bar {
            background-color: #323232; 
            color: white;
            font-family: Helvetica; 
        }
        .left-side {
            display: inline-block;
        }
        .right-side {
            float: right;
        }
        .dropdown-item:hover {
            background-color: blue;
            color: white;
            cursor: pointer;
        }
    </style>

    <script>
$(document).ready(function(){
            $('.owl-carousel').owlCarousel({
                loop:true,
                margin:10,
                dots: false,
                autoHeight: true,
                responsive:{
                    0:{
                        items:2.2
                    },
                    600:{
                        items:2.2
                    },
                    1000:{
                        items: 4.2
                    }
                }
            })
        });

        function open_review_div(review_icon) {
            review_icon.style.display = "none";
            document.getElementsByClassName("review")[0].style.display = "block";
        }

        function close_review_div() {
            document.getElementsByClassName("review")[0].style.display = "none";
            document.getElementById('open_review_button').style.display = "block";
        }
    </script>
</head>
<body>

    <div class="navigation-bar">
        <!--https://hookagency.com/website-color-schemes-->
        <div class="left-side">
            <img src="../upl-1566734376984.png" width="50px" height="50px" style="margin: 15px; margin-left: 25px; margin-right: 30px">
            <span class="menu-item" style="margin-right: 15px; cursor: pointer;"><b>Home</b></span>
            <span class="menu-item" style="margin-right: 15px; cursor: pointer;">Events</span>
            <span class="menu-item" style="margin-right: 15px; cursor: pointer;">About</span>
            <span class="menu-item" style="margin-right: 15px; cursor: pointer;">Support</span>
        </div>
        <div class="right-side dropdown">
            <span>Hi, Andrew!</span>
            <img src="../Draft_landing_page.png" class="dropdown-toggle" data-toggle="dropdown" width="50px" height="50px" style="border-radius: 30px; margin: 15px; opacity: 1; cursor: pointer;">
            
            <div class="dropdown-menu" style="margin: 10px; text-align: center">
                <p class="dropdown-item">My profile</p>
                <p class="dropdown-item">Upcoming</p>
                <p class="dropdown-item">History</p>
                <p class="dropdown-item">Sign out</p>
            </div>
        </div>
    </div>

    <!-- Review div -->
    <img src="../review_icon.png" id="open_review_button" onclick="open_review_div(this)"/>
    <div class="review">
    <p style="text-align: center">Please rate your experience</p>
    <div class="rating">
        <input type="radio" id="star5" name="rating" value="5" onclick="func(this)"/><label for="star5" title="Rocks!">5 stars</label>
        <input type="radio" id="star4" name="rating" value="4" onclick="func(this)"/><label for="star4" title="Pretty good">4 stars</label>
        <input type="radio" id="star3" name="rating" value="3" onclick="func(this)"/><label for="star3" title="Meh">3 stars</label>
        <input type="radio" id="star2" name="rating" value="2" onclick="func(this)"/><label for="star2" title="Kinda bad">2 stars</label>
        <input type="radio" id="star1" name="rating" value="1" onclick="func(this)"/><label for="star1" title="Sucks big time">1 star</label>
    </div>
    <div class="form-group">
        <textarea type="text" class="form-control" name="review_comment" rows="4" style="resize: none;" placeholder="Leave a review..."></textarea>
    </div>
    <center>
        <button class="btn btn-success" style="margin-right:10px;">Submit</button>
        <button class="btn btn-danger" style="margin-left:10px;" onclick="close_review_div()">Cancel</button>
    </center>
    
    <script>
        function func(element) {
            //alert(element.value);
        }
    </script>
    </div>
   
    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-6" style="text-align: center; margin-top: 3%">
            <center><img src="../<%= event_data.image1 %>" style="width: 90%; box-shadow: 0px 0px 35px black; " /></center>
        </div>
        <div class="col-sm-12 col-md-12 col-lg-6" style="margin-top: 2%; padding-left: 2%; padding-right: 2%;">
            <!--<%= event_data.name %><br>
            <%= event_data.image1 %><br>
            <%= event_data.location %><br>
            <%= event_data.categories %>-->
            <span style="font-size: 50px; margin-top: 1%;"><b>Marathon for charity</b></span><br>
            <span style="font-size: 30px; font-family: Segoe UI Light; margin-left: 10px;">Central Park, New York</span><br>
            <span style="font-size: 20px; font-family: Segoe UI Light; margin-left: 12px;">23rd October, 12:00 AM</span><br><br>
            <p style="font-size: 20px, font-family: Segoe UI Light; color: gray; margin-left: 12px; margin-right: 10%; text-align: justify">The marathon is a long-distance race with an official distance of 42.195 kilometres[1] (approximately 26 miles 385 yards), usually run as a road race. The event was instituted in commemoration of the fabled run of the Greek soldier Pheidippides, a messenger from the Battle of Marathon to Athens, who reported the victory. The marathon can be completed by running or with a run/walk strategy. There are also wheelchair divisions. 
                    The marathon was one of the original modern Olympic events in 1896, though the distance did not become standardized until 1921. More than 800 marathons are held throughout the world each year, with the vast majority of competitors being recreational athletes, as larger marathons can have tens of thousands of participants.</p><br>
            
            
            <span style="font-size: 20px; color: red; margin-left: 18px;"> From <b>120$ </b></span>
            <div style="margin-left: 15px;">
                <% if (userAlreadyGoing) { %>
                <form action='/remove-event/<%= event_data._id %>' method="post">
                    <button type="submit" class="btn btn-danger">Leave event</button>
                </form>
                <% } else { %>
                <form action='/add-event/<%= event_data._id %>' method="post">
                    <button type="submit" class="btn btn-primary">Participate to event</button>
                </form>
                <% } %>
                <p>Are you done? <a href="/profile">Go back</a></p>
            </div>
        </div>
    </div>

    <h2 style="margin: 1%; margin-top:3%; margin-left:2%">Similar events</h2>
    <div class="owl-carousel owl-theme tile_list">
        <% for (var i = 0; i < 5; i++) { %>
            <form action='/event' onclick="Event_tile_clicked(this)" method="get">
                <div class="item" onclick="Event_tile_clicked(this)" style="background-image: linear-gradient(to bottom, 
                        rgba(0,0, 0, 0), 90%,
                        rgba(0, 0, 0, 0.7) 100%), url('Signup.png');">
                    <div style="height:100%; position:relative;">
                        <div style="height:10%; position:absolute; bottom:1%; left:2%;"><b>event_list></b></div>
                    </div>
             </div>
            </form>
        <% } %>
    </div>
</body>