<!doctype html>
<html>
<head>
    <title>Node Authentication</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <!-- Important Owl stylesheet -->
    <link rel="stylesheet" href="../owl.carousel.min.css">
    <!-- Default Theme -->
    <link rel="stylesheet" href="../owl.theme.default.min.css">
    
    <!--  jQuery 1.7+  -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <!-- Include js plugin -->
    <script src="../owl.carousel.min.js"></script>
    <script src = "/socket.io/socket.io.js"></script>

    <style>
        body {
            font-family: 'Segoe UI';
            background-color: #d8d8d8;
        }

        .item {
            background-size: cover;
            margin: 2em;
            height: 250px;
            color: white;
            z-index: 15;
            min-width: 200px;
            transition: transform 0.4s;
            box-shadow: 0px 0px 5px gray;
        }

        .tile_text {
            position: absolute;
            margin-left: 2%;
            text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
        }

        .item:hover {    
            cursor: pointer;        
            transform: scale(1.1);
            box-shadow: 0px 0px 20px gray;
            
        }

        #open_review_button {
        cursor: pointer;
        width: 60px;
        -webkit-filter: drop-shadow(5px 5px 5px #222);
        filter: drop-shadow(5px 5px 5px #222);
        position: fixed;
        right: 2em;
        bottom: 3em;
        z-index: 500;
        transition: transform 0.3s;
        }

        #open_review_button:hover {
            transform: scale(1.15);
        }

        .review {
            display: none;
            width: 300px;
            position: fixed;
            right: 2em;
            bottom: 3em;
            box-shadow: 0px 0px 25px gray;
            border-radius: 15px;
            padding: 1em;
            z-index: 400;
            background-color: rgba(255, 255, 255, 0.9);
        }

        .rating {
            position: relative;
            margin-right: 55px;
            margin-bottom: 25px;
        }

        /* :not(:checked) is a filter, so that browsers that don’t support :checked don’t 
        follow these rules. Every browser that supports :checked also supports :not(), so
        it doesn’t make the test unnecessarily selective */
        .rating:not(:checked) > input {
            position:absolute;
            top:-9999px;
        }

        .rating:not(:checked) > label {
            float:right;
            width:1em;
            padding:0 .1em;
            overflow:hidden;
            white-space:nowrap;
            cursor:pointer;
            font-size:200%;
            line-height:1.2;
            color:#959595;
            
        }

        .rating:not(:checked) > label:before {
            content: '★ ';
        }

        .rating > input:checked ~ label {
            color: #f70;
            
        }

        .rating:not(:checked) > label:hover,
        .rating:not(:checked) > label:hover ~ label {
            color: gold;
            
        }

        .rating > input:checked + label:hover,
        .rating > input:checked + label:hover ~ label,
        .rating > input:checked ~ label:hover,
        .rating > input:checked ~ label:hover ~ label,
        .rating > label:hover ~ input:checked ~ label {
            color: #ea0;
            
        }

        .rating > label:active {
            position:relative;
            top:2px;
            left:2px;
        }

        /* navigation bar */
        .navigation-bar {
            background-color: #323232; 
            color: white;
            font-family: Helvetica; 
        }
        .left-side {
            display: inline-block;
        }
        .right-side {
            float: right;
        }
        .dropdown-item:hover {
            background-color: blue;
            color: white;
            cursor: pointer;
        }



        /* Interested - not Interested*/
        .interested_c {
            font-size: 12px;
            color: #494949;
            text-transform: uppercase;
            text-decoration: none;
            background: transparent;
            border-radius: 15px;
            padding: 2%;
            border: 1px solid #494949 !important;
            display: inline-block;
            transition: all 0.2;
            margin: 1.5%;
            padding-left: 4%;
            padding-right: 4%;
        }

        .interested_c:hover {
            cursor: pointer;
            color: #ffffff !important;
            background: #f6b93b;
            border-color: #f6b93b !important;
            transition: all 0.2s ease 0s;
        }

        .not:hover {
            background: red;
            border-color: red !important;
        }

        .share {
            font-size: 12px;
            color: #494949 !important;
            text-transform: uppercase;
            text-decoration: none;
            background: transparent;
            border-radius: 15px;
            padding: 2%;
            margin-right: 15%;
            border: 1px solid #494949 !important;
            display: inline-block;
            transition: all 0.2;
            padding-left: 4%;
            padding-right: 4%;
        }

        .share:hover {
            cursor: pointer;
            color: #ffffff !important;
            background: #3c5b94;
            border-color: #c4c1bd !important;
            transition: all 0.2s ease 0s;
        }

        .categ {
            font-size: 12px;
            color: #494949 !important;
            text-transform: uppercase;
            text-decoration: none;
            background: transparent;
            border-radius: 15px;
            padding: 2%;
            border: 1px solid #494949 !important;
            display: inline-block;
            transition: all 0.2;
            margin: 1.5%;
        }

        .categ:hover {
            cursor: pointer;
            color: black !important;
            background: white;
            border-color: #f6b93b !important;
            transition: all 0.2s ease 0s;
        }
    </style>

    <script>
        var socket = io();
        $(document).ready(function(){
            $('.owl-carousel').owlCarousel({
                loop:true,
                margin:10,
                dots: false,
                autoHeight: true,
                responsive:{
                    0:{
                        items:2.2
                    },
                    600:{
                        items:2.2
                    },
                    1000:{
                        items: 4.2
                    }
                }
            })
        });

        function send_mail() {
            socket.emit('email to', document.getElementById("mail_value").value);
        }

        function Event_tile_clicked(element) {
            element.submit();
        }

        function open_review_div(review_icon) {
            review_icon.style.display = "none";
            document.getElementsByClassName("review")[0].style.display = "block";
        }

        function close_review_div() {
            document.getElementsByClassName("review")[0].style.display = "none";
            document.getElementById('open_review_button').style.display = "block";
        }

        function price_selected(price) {
            var prices = document.getElementsByClassName('price');
            for (var i = 0; i < prices.length; i++)
                prices[i].style.backgroundColor = "transparent";
            price.style.backgroundColor = "#f6b93b";
        }

        function interested_clicked() {
            document.getElementById("interested_btn").style.color = "white"
            document.getElementById("interested_btn").style.backgroundColor = "#f6b93b"
            document.getElementById("not_interested_btn").style.backgroundColor = "transparent"
            document.getElementById("not_interested_btn").style.color = "black"

            var add_interested = {
                user_id: '<%= user._id %>',
                event_id: '<%= event_data._id%>'
            }
            socket.emit('interested', add_interested)
        }

        function not_interested_clicked() {
            document.getElementById("not_interested_btn").style.color = "white"
            document.getElementById("not_interested_btn").style.backgroundColor = "red"
            document.getElementById("interested_btn").style.backgroundColor = "transparent"
            document.getElementById("interested_btn").style.color = "black"
            
            var add_not_interested = {
                user_id: '<%= user._id %>',
                event_id: '<%= event_data._id%>'
            }
            socket.emit('not_interested', add_not_interested)
        }

    </script>
</head>
<body>

    <div class="navigation-bar">
        <!--https://hookagency.com/website-color-schemes-->
        <div class="left-side">
            <img src="../upl-1566734376984.png" width="50px" height="50px" style="margin: 15px; margin-left: 25px; margin-right: 30px">
            <span class="menu-item" style="margin-right: 15px; cursor: pointer;"><a href="/profile" style="color: white">Home</a></span>
            <span class="menu-item" style="margin-right: 15px; cursor: pointer;"><a href="/search" style="color: white"><b>Events</b></a></span>
            <span class="menu-item" style="margin-right: 15px; cursor: pointer;"><a href="/about" style="color: white">About</a></span>
            <span class="menu-item" style="margin-right: 15px; cursor: pointer;"><a href="/support" style="color: white">Support</a></span>
        </div>
        <div class="right-side dropdown">
            <span>Hi, Andrew!</span>
            <img src="../Draft_landing_page.png" class="dropdown-toggle" data-toggle="dropdown" width="50px" height="50px" style="border-radius: 30px; margin: 15px; opacity: 1; cursor: pointer;">
            
            <div class="dropdown-menu" style="margin: 10px; text-align: center">
                <p class="dropdown-item">My profile</p>
                <p class="dropdown-item">Upcoming</p>
                <p class="dropdown-item">History</p>
                <p class="dropdown-item">Sign out</p>
            </div>
        </div>
    </div>
    <!-- Review div -->
    <img src="../review_icon.png" id="open_review_button" onclick="open_review_div(this)"/>
    <div class="review">
    <p style="text-align: center">Please rate your experience</p>
    <div class="rating">
        <input type="radio" id="star5" name="rating" value="5" onclick="func(this)"/><label for="star5" title="Rocks!">5 stars</label>
        <input type="radio" id="star4" name="rating" value="4" onclick="func(this)"/><label for="star4" title="Pretty good">4 stars</label>
        <input type="radio" id="star3" name="rating" value="3" onclick="func(this)"/><label for="star3" title="Meh">3 stars</label>
        <input type="radio" id="star2" name="rating" value="2" onclick="func(this)"/><label for="star2" title="Kinda bad">2 stars</label>
        <input type="radio" id="star1" name="rating" value="1" onclick="func(this)"/><label for="star1" title="Sucks big time">1 star</label>
    </div>
    <div class="form-group">
        <textarea type="text" class="form-control" name="review_comment" rows="4" style="resize: none;" placeholder="Leave a review..."></textarea>
    </div>
    <center>
        <button class="btn btn-success" style="margin-right:10px;">Submit</button>
        <button class="btn btn-danger" style="margin-left:10px;" onclick="close_review_div()">Cancel</button>
    </center>
    
    <script>
        function func(element) {
            //alert(element.value);
        }
    </script>
    </div>
   
    <div class="modal fade" id="emailmodal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLongTitle">Send to email address</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                    </div>
                    <div class="modal-body" align="center" id="mail_modal_body" style="padding: 10%;">  
                        <input type="text" id="mail_value" style="background: transparent; border: 1px solid #323232;" class="form-control" name="email" placeholder="friend@outlook.com">
                        <br><br>
                        <form>
                        <button type="submit" class="btn btn-primary" onclick="send_mail()" style="padding-left:3%; padding-right: 3%">Share event</button>
                    </form>
                    </div>
                </div>
            </div>
        </div>

    <div class="modal fade" id="registrymodal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Prices</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                </div>
                <div class="modal-body" align="center">  
                    <div align="center">
                        <% for (var i = 0; i < event_data.prices.length; i++) { %>
                            <p class="categ price" rel="follow noopener" style="font-size: 20px; padding: 1%; width: 130px;" onclick="price_selected(this)"><%=event_data.prices[i]%><%=event_data.currency%></p>
                        <% } %>
                    </div>

                    <br><br>
                    <form action='/add-event/<%= event_data._id %>' method="post" align="center">
                        <button type="submit" class="btn btn-primary" style="padding-left:3%; padding-right: 3%">Attend event</button>
                    </form>
                    <br>
                </div>
            </div>
        </div>
    </div>

    <div class="row" style="width: 100%">
        <div class="col-sm-12 col-md-12 col-lg-6" style="text-align: center; margin-top: 3%">
            <center>
                <br><br>
                <img src="../<%= event_data.image1 %>" style="width: 90%; box-shadow: 0px 0px 35px black; " />
            <br><br>
                <% for (var i = 0; i < event_data.categories.length; i++) { %>
                    <p class="categ" rel="follow noopener" style="padding: 1%; width: 130px;"><%= event_data.categories[i] %></p>
                <% } %>
                <p class="categ" rel="follow noopener" style="padding: 1%; width: 130px;"><%= event_data.categories[0] %></p>
            </center>
        </div>
        <div class="col-sm-12 col-md-12 col-lg-6" style="margin-top: 2%; padding-left: 2%; padding-right: 2%;">
        <div class="container">
            <p style="font-size: 50px; margin-top: 1%;"><b><%= event_data.name %></b></p>
            <p style="font-size: 30px; font-family: Segoe UI Light; margin-left: 10px;"><%= event_data.location %>, <%= event_data.city %></p>
            <div class="row">
                <div class="col-sm-6 col-md-6 col-lg-6">
                    <p style="font-size: 20px; font-family: Segoe UI Light; margin-left: 12px;">23rd October, <%= event_data.hour %> AM</p><br> 
                </div>
                <div class="col-sm-6 col-md-6 col-lg-6">
                    <p class="share" data-toggle="modal" data-target="#emailmodal" style="float: right">Invite people</p>
                </div>
            </div>
            <p style="font-size: 20px; font-family: Segoe UI Light; color: gray; margin-left: 12px; margin-right: 10%; text-align: justify"><%= event_data.description %></p><br>
            <% if (!userAlreadyGoing && event_data.prices[0] !== "") { %>
                <span style="font-size: 18px; color: green; margin-left: 18px; font-family: 'Segoe UI'"> From <b id="price"></b></span>
                <script>
                    document.getElementById("price").innerHTML = Math.min(<%=event_data.prices%>).toString() + '<%=event_data.currency%>'
                </script>
            <% } else if (!userAlreadyGoing) { %>
                <span style="font-size: 18px; color: green; margin-left: 18px; font-family: 'Segoe UI'"><b id="price">FREE</b></span>
            <% } %>
            <div class="row" style="margin-left: 5px;">
                <div class="col-sm-6 col-md-6 col-lg-6">
                <% if (userAlreadyGoing) { %>
                    <form action='/remove-event/<%= event_data._id %>' method="post">
                        <button type="submit" class="btn btn-danger">Leave event</button>
                    </form>
                <% } else { %>
                    <% if (event_data.prices[0] !== "") { %>
                        <button class="btn btn-primary" data-toggle="modal" data-target="#registrymodal">Participate to event</button>
                    <% } else { %>
                        <form action='/add-event/<%= event_data._id %>' method="post">
                            <button type="submit" class="btn btn-primary" style="padding-left:3%; padding-right: 3%">Participate to event</button>
                        </form>
                    <% } %>
                <% } %>
                </div>
                <div class="col-sm-6 col-md-6 col-lg-6">
                    <div class="button_cont" align="center">
                        <% var interest = false %>
                        <% for (var i = 0; i < user.interested.length; i++) { %>
                        <%     if (user.interested[i].toString() === event_data._id.toString()) { %>
                        <p class="interested_c" id="interested_btn" onclick="interested_clicked()" style="background-color:#f6b93b; color: white" rel="nofollow noopener">Interested</p>&nbsp
                        <p class="not interested_c" id="not_interested_btn" onclick="not_interested_clicked()" rel="nofollow noopener">Not Interested</p>
                        <%    interest = true;  %>
                        <%    break; %>
                        <%    } %>
                        <% } %>
                        <% for (var i = 0; i < user.not_interested.length; i++) { %>
                        <%     if (user.not_interested[i].toString() === event_data._id.toString()) { %>
                        <p class="interested_c" id="interested_btn" onclick="interested_clicked()" rel="nofollow noopener">Interested</p>&nbsp
                        <p class="not interested_c" id="not_interested_btn" onclick="not_interested_clicked()" style="background-color:red; color: white" rel="nofollow noopener">Not Interested</p>
                        <%    interest = true; %>
                        <%    break; %>
                        <%    } %>
                        <% } %>
                        <% if (!interest) { %>
                        <p class="interested_c" id="interested_btn" onclick="interested_clicked()" rel="nofollow noopener">Interested</p>&nbsp
                        <p class="not interested_c" id="not_interested_btn" onclick="not_interested_clicked()" rel="nofollow noopener">Not Interested</p>
                        <% } %>
                    </div>
                </div>
            </div>
        </div>
        </div>
    </div>

    <h2 style="margin: 1%; margin-top:3%; margin-left:2%">Similar events</h2>
    <div class="owl-carousel owl-theme tile_list">
        <% for (var i = 0; i < rel_events.length; i++) { %>
            <form action='/event/<%= rel_events[i]._id %>' onclick="Event_tile_clicked(this)" method="get">
                <div class="item" onclick="Event_tile_clicked(this)" style="background-image: linear-gradient(to bottom, 
                        rgba(0,0, 0, 0), 90%,
                        rgba(0, 0, 0, 0.7) 100%), url('../<%= rel_events[i].image1 %>');">
                    <div style="height:100%; position:relative;">
                        <p style="position:absolute; bottom:-10px; left:2%;"><b><%= rel_events[i].name %>, <%= rel_events[i].date %></b></p>
                    </div>
             </div>
            </form>
        <% } %>
    </div>
</body>