<!doctype html>
<html>
<head>
    <title>Node Authentication</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <style>
        body         { padding-top:80px; word-wrap:break-word; }
    </style>
</head>
<body>
<div class="container">

    <div class="page-header text-center">
        <h1><span class="fa fa-anchor"></span> Profile Page</h1>
        <a href="/logout" class="btn btn-default btn-sm">Logout</a>
    </div>

    <div class="row">

    <!-- LOCAL INFORMATION -->
        <div class="well">
            <h3><span class="fa fa-user"></span> Local</h3>

            <% if (user.email) { %>
                <p>
                    <strong>id</strong>: <%= user._id %><br>
                    <strong>email</strong>: <%= user.email %><br>
                    <strong>password</strong>: <%= user.password %><br>
                    <strong>firstname</strong>: <%= user.firstname %><br>
                    <strong>secondname</strong>: <%= user.secondname %>
                </p>
                
                <a href="/unlink/local" class="btn btn-default">Unlink</a>
            <% } else { %>
                <a href="/connect/local" class="btn btn-default">Connect Local</a>
            <% } %>

        </div>
    </div>


</div>

<!-- LOGIN FORM -->
    <form action="/addevent" method="get">
        <button type="submit" class="btn btn-warning btn-lg">Enter</button>
    </form>
</body>
</html>
